bin/
gen/com/hjr/sdkkit/framework/mw/R.java
gen/com/kfmaster/sdk/demo/BuildConfig.java
gen/com/kfmaster/sdk/demo/R.java
gen/com/hjr/sdkkit/framework/channel/R.java
gen/com/kfmaster/sdk3x/demo/BuildConfig.java
gen/com/kfmaster/sdk3x/demo/R.java
